@font-face {
  font-family: "Crenzo";
  src: url("/fonts/Crenzo.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Triakis";
  src: url("/fonts/TriakisFont-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Baunk";
  src: url("/fonts/Baunk.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/FiraCode.ttf");
  font-weight: i;
  font-style: normal;
}
