<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/ico" href="/assets/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">

  <link rel="preload" href="/fonts/Baunk.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="preload" href="/fonts/Crenzo.ttf" as="font" type="font/ttf" crossorigin>
  <link rel="preload" href="/fonts/TriakisFont-Regular.otf" as="font" type="font/otf" crossorigin>
  <link rel="preload" href="/fonts/FiraCode.ttf" as="font" type="font/ttf" crossorigin>

  <title>{% block title %}{{ site.name }}{% endblock %}</title>
  <meta name="description" content="{{ site.subtitle }}">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/rss.xml">
{% block head %}{% endblock %}
</head>
<body>
{% block header %}{% endblock %}
  <main>
    <section>
{% block content %}{% endblock %}
    </section>
  </main>

{% include "nav.html" %}
</body>
</html>
