{% extends "base.html" %}

{% block title %}{{ post.title }} — {{ site.name }}{% endblock %}

{% block head %}
{%- if post.languages %}
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.min.css"> -->
  <link rel="stylesheet" href="/css/highlight.min.css"/>
  <link rel="stylesheet" href="/css/rose-pine-moon.css"/>
{%- endif %}
{% endblock %}

{% block header %}
  <header>
    <nav><a href="/">← Home</a></nav>
  </header>
{% endblock %}

{% block content %}
      <article>
        <h1>{{ post.title }}</h1>
        <time datetime="{{ post.date }}">{{ post.date_formatted }}</time>
{%- if post.tags %}
        <div class="tags">
{%- for tag in post.tags %}
          <a href="{{ tag.url }}">{{ tag.name }}</a>
{%- endfor %}
        </div>
{%- endif %}
        <div class="content">
{{ post.body }}
        </div>
      </article>
{% endblock %}

{% block footer %}
{%- if post.languages %}
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script> -->
  <script src="/js/highlight.min.js"></script>
{%- for lang in post.languages %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/{{ lang }}.min.js"></script>
{%- endfor %}
  <script>
    document.querySelectorAll('pre code[class^="language-"]').forEach(el => {
      hljs.highlightElement(el);
    });
    //hljs.highlightAll();
    window.onload = () => {
      document.querySelectorAll('pre code').forEach(block => {
        const rootElement = block.parentElement;
        const lineCodes = block.innerHTML.split(/\n/);
        if (lineCodes[lineCodes.length - 1] === '') lineCodes.pop();
        const lineLength = lineCodes.length;

        let codeLineHtml = '';
        for (let i = 0; i < lineLength; i++) {
          codeLineHtml += `<div class="line">${i + 1}</div>`;
        }

        let codeHtml = '';
        for (let i = 0; i < lineLength; i++) {
          codeHtml += `<div class="line">${lineCodes[i]}</div>`;
        }

        block.className += ' highlight';
        const figure = document.createElement('figure');
        figure.className = block.className;
        figure.innerHTML = `<table><tbody><tr><td class="gutter"><pre>${codeLineHtml}</pre></td><td class="code"><pre>${codeHtml}</pre></td></tr></tbody></table>`;

        rootElement.parentElement.replaceChild(figure, rootElement);
      });
    };
  </script>
{%- endif %}
{% endblock %}
